.circle-view {
  background-color: lightslategray;
  flex: 3;
  padding: 10px;
}

.timer-view {
  background-color: lightgreen;
  flex: 1;
}

.timer-input {
  background-color: lightcyan;
  flex: 1;
}