.schedule-button {
  /* background-color: yellow; */
  padding: 10px;
}

.schedule-listview {
  /* background-color: aqua; */
  padding: 10px;
}

.schedule-input {
  /* background-color: blue; */
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}